<h1 >Shopping Cart</h1><br>
<div  class="card" *ngIf="cart$ | async as cart" style="width:80%;">
  <div class="card-body">
      <p>
          You have {{cart.totalItemsCount}} items in your shopping cart.
          <button *ngIf="cart.items.length"
            (click)="clearCart()" class="float-right btn btn-light btn-sm">Clear Shopping Cart
          </button>
      </p>
  </div>
 
  <table class="table">
    <thead>
      <tr>
        <th class="content-right"></th>
        <th>Product</th>
        <th class="text-center" style="width: 230px">Quantity</th>
        <th class="text-center" style="width: 200px">Price</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of cart.items">
      <tr *ngIf="item.totalPrice>0">     
            <td class="content-right">
              <div [style.backgroundImage]="' url(' + item.product.imageUrl + ') '" class="thumbnail"></div>
            </td>
            <td>{{ item.product.Title }}</td>
            <td class="text-center">{{ item.quantity }}</td>
            <td class="text-center">{{ item.totalPrice | currency:'USD':true }}</td>   
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-center">{{cart.totalPrice | currency:'USD':true}}</th>
      </tr>
      <tr>
          <th colspan="4">
            <a *ngIf="cart.items.length" routerLink="/check-out" class="btn btn-primary">Check Out</a>
          </th>
        </tr>
    </tfoot>
  </table>
  
</div>
